backend/.env
/backend/.env
/frontend\package-lock.json
/backend/coverage
/backend/dist
/backend/node_modules
backend/package-lock.json
frontend/package-lock.json
frontend/.env
backend/.env.prod
.env
backend\.env.prod
backend/.env.prod
backend/.env.prod
backend/.env.prod
