.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.postBTN {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff; /* Blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.postBTN:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

.logoutBTN {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: red; /* Red color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutBTN:hover {
    background-color: darkred; /* Darker red color on hover */
}

.feedBTN {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff; /* Blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedBTN:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
