.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(161, 249, 255);
    position: relative;
    padding-top: 100px; /* Adjust based on the height of the logo */
}

.logo-container {
    position: absolute;
    top: 20px; /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
}

.logo-container img {
    max-width: 100px; /* Set the max width for the logo */
    height: auto; /* Maintain aspect ratio */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.nav-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #0056b3;
}
